body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #87cefa;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #4682b4;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}